.fixed-buttons{
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 999;
}
.fab-btn{
  width: 55px;
  height: 55px;
  background-color: var( --color-accent);
  border-radius: 50%;
  color: var(--color-primary);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.fab-btn:hover {
  transform: translateY(-2px);
  transition: 0.2s ease;
}

.btn-up{
  width: 35px;
  height: 35px;
  background-color: var( --color-accent);
  border-radius: 50%;
}
.small-btn {
  width: 35px;
  height: 35px;
  font-size: 16px;
}
.scroll-progress svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg); /* با این چرخش، دایره از بالا شروع به پر شدن می‌کند */
}

.progress-bg {
  fill: none;   /* دایره داخلش خالی است، فقط خط دورش دیده می‌شود. */
  stroke: rgba(255,255,255,0.15);
  stroke-width: 3px;
}

.progress-dot {
  fill: none;                 
  stroke: #fff;
  stroke-width: 3;

  /* ⭐ این دو خط کلیدی‌اند */
   stroke-dasharray: 1 8;  /*هر دش یک دایره کوچک است و بین دایره‌ها فاصله است (دایره‌ها جدا از هم) */
  stroke-linecap: round;  /*هر dash گرد می‌شود و به شکل دایره کامل دیده می‌شود. */

  transition: stroke-dashoffset 0.2s linear;
}

/* جمع‌بندی ساده

SVG روی دکمه قرار گرفته و 90 درجه چرخیده → دایره از بالا شروع به پر شدن می‌کند.

progress-bg → مسیر کامل دایره، رنگ کم‌رنگ، همیشه ثابت.

progress-dot → دایره‌های کوچک جدا، اول پنهان، با اسکرول تدریجی ظاهر می‌شوند.

stroke-dasharray + stroke-linecap → دایره‌ها را واقعی و جدا جدا می‌کند.

transition → ظاهر شدن دایره‌ها نرم است. */
