.grid-wrapper{
  display: flex;
  gap: 20px;
  align-items: stretch;
  background-color: var(--color-primary);
  
}
.grid-section {
  width: 70%;
}
/* ==============textbox=========== */
.text-grid-section {
  margin: 40px;
  width: 30%;
  height: 500px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox {
  background:var(--color-accent);
  color: var(--color-primary);
  padding: 32px;
  border-radius: 10px;
  line-height: 1.8;
}
/*=================== grid================== */

.grid-section {
  padding: 40px;
  background-color: var(--color-primary);
}
.container {
  display: grid; 
  gap: 16px;
  /* width: 60%; */
  height: 500px;
  grid-template-columns: repeat(4, 1fr);

}
.container div {
  background:var(--color-accent);
  color: white;
  padding: 24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}
.item1{
    grid-row: 2/4;
}
.item3{
    grid-column: 3/3;
}


.item5 { grid-area: 1 / 2 / 3 / 3; } 
.item8{
    grid-column: 2/5;
}
.text-grid-section{
  display: flex;
}




