:root {
  --color-primary:   #F1E9FA;  
  --color-secondary: #CFA6EE;  
  --color-accent:    #8A52C9;  
  --color-white:     #FFFFFF;
  --color-text:      #1A1A1A;
  --color-gray:      #E3E3E3;
  --max-width: 1200px;
}


* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden;
}
body{
  font-family:  sans-serif;
  padding-top: 82px;
}
