.slider-section{
  width: 100%;
  padding: 40px 0;
  background-color: var(--color-primary);
}
.mySwiper{
  width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 16px;
  overflow: hidden;
   padding-bottom: 32px;
}
.mySwiper .swiper-slide{
  display: flex;
  padding: 16px;
  background-color: var(--color-secondary);
  color: #111;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===============product-card============== */
.product-card{
  position: relative;
  /* width: 100%; */
  height: 100%;
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:  var(--color-secondary);
  align-items: flex-start;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.product-img{
  /* height: 400px; */
  width: auto;
  border-radius: 12px;
  overflow: hidden;
  
}
.product-image img{
  width: 200px;
  border-radius: 14px;
  object-fit: cover;
  display: block;
}
.product-button {
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product-button:hover {
  background-color: var(--color-accent);
  color: white;
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}
