@import url(./root.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./breadcrumb.css);
body {
  font-family: sans-serif;
  padding-top: 82px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-accent);
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
}
#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--color-accent);
  outline: none;
  border-radius: 1000px;
  color: var(--color-accent);
  caret-color: var(--color-accent);
}
form {
  position: relative;
}
#add-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-accent);
  color: var(--color-white);
  height: 100%;
  padding: 0 30px;
  border: none;
  border-radius: 1000px;
  font-weight: 500;
  cursor: pointer;
}
.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--color-secondary);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease ;
}
.delete-button {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ri-delete-bin-6-line {
  color: var(--color-white);
  font-weight: 400;
  transition: all 200ms ease;
}
.delete-button .ri-delete-bin-6-line:hover {
  color: red;
}
.custom-checkbox {
  border: 2px solid var(--color-accent);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}
.ri-check-line {
  color: transparent;
  font-size: 14px;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--color-accent);
}

input[type="checkbox"]:checked + .custom-checkbox .ri-check-line {
  color: var(--color-white);
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--color-accent);
}
input [type="checkbox"]:checked ~ .custom-checkbox .ri-check-line {
  background-color: var(--color-white);
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: black;
}
input[type="checkbox"]{
    display: none;
}
/* وقتی checkbox تیک خورد → delete مخفی شود */
.todo:has(input[type="checkbox"]:checked) .delete-button {
  opacity: 0;
  pointer-events: none;
}



#todo-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todo {
  width: 100%;
  box-sizing: border-box;
}

.todo.dragging {
  opacity: 0.4;
}
